.outer{
    width: 40%;
    height: 300px;
    background-color:white;
    margin: 100px 350px;
}

.inner{
    height: 200px;
    width: 90%;
    border: 2px solid blue;
    border-radius: 3px;
}

.qq{
    height: 180px;
    width: 35%;
    border: 3px solid red;
    border-radius: 5px;
    position: absolute;
    top: 197px;
    left: 409px;
    background-color: white;
}

p{
    text-align: center;
    color: brown;
    font-size: larger;
}